.progress-container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
}

.progress-bar {
    background-color: #4caf50;
    height: 30px;
    position: relative;
    width: 0;
    transition: width 0.1s ease-in-out;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-text {
    color: white;
    font-weight: bold;
}

.start-btn {
    margin-top: 20px;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    /* transition: background-color 0.3s ease; */
}

.start-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}